html{
  background-color: #F0E3CA;
  scroll-behavior: smooth;
  --background-form: #f0e3ca;
  --text-primary-about: dark;
}
html.dark{
  
  background-color: #1b1a17;
  --background-form: #1b1a17;
  scroll-behavior: smooth;
  --text-primary-about: #F0E3CA;  
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
